* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  width: 100%;
  height: auto;
}

.box {
  border: 2px solid #21d4fd;
  border-radius: 10px;
  width: 80%;
  height: 35vh;
  margin-left: 10%;
}

header h1 {
  font-family: "Rubik Vinyl", system-ui;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  font-size: 110px;
  color: rgb(8, 7, 7);
}

header {
}

@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

box1 {
  margin-top: 600px;
}

img {
  height: 250px;
  width: 350px;
  margin: 30px;
  float: left;
}

.button {
  background-color: orange;
  font-weight: 500;
  font-size: large;
  padding: 5px;
  border: none;
  border-radius: 10px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 950px;
}

a {
  text-decoration: none;
  color: black;
}

button:hover {
  background-color: rgb(82, 184, 23);
  color: darkmagenta;
}

.Paths {
  color: rgb(255, 142, 101);
}
